.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
weights/*.weights
*.weights
__pycache__
checkpoints

logs
video
*.mp4
*.avi
*.wmv
*.jpg
*.png
*.weights
*.cfg
*.data
*.mp4
*.avi
*.mov

*.swo
*.swp

.vscode
